<div class="container">
  <p></p>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> Users details <h4></p>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <p>User name: <%= @user.name %></p>
        </div>
      </form>
    </div>
  </div>
</nav>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Registration date</th>
        <th>Expiration date</th>
        <th>Personal number</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>User role</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @user.id %></td>
      <td><%= @user.name %></td>
      <td><%= @user.registration_date %></td>
      <td><%= @user.expiration_date %></td>
      <td><%= @user.personal_number %></td>
      <td><%= @user.phone_number %></td>
      <td><%= @user.email %></td>
      <td><%= @user.address %></td>
      <td><%= @user.user_role %></td>
      <td><%= link_to 'Back', users_path, class: "btn btn-sm btn-primary" %></td>
    </tr>
   </tbody>
 </table>
