<div class="container"><p></p>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> Purchase details <h4></p>
      </ul>
  <div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search">
      <div class="input-group">
        <p>Purchase Id: <%= @purchase.id %></p>
        </div>
      </form>
    </div>
  </div>
</nav>


<p>
  <strong>Customer name:</strong>
  <%= @purchase.customer_name %>
</p>

<p>
  <strong>Product model:</strong>
  <%= @purchase.product_model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @purchase.purchase_date %>
</p>

<p>
  <strong>Maintnance date:</strong>
  <%= @purchase.maintnance_date %>
</p>
<% if can? :update, @product %>
<td><%= link_to 'Edit',  '#', 'data-target' => "#myModal_#{@purchase.id}", 'data-toggle' => 'modal', class: "btn btn-sm btn-default" %></td>
    <div class="modal fade" id='<%= "myModal_#{@purchase.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Editing Purchase </h4>
          </div>
          <div class="modal-body">
            <%= render 'editPurchase'%>
          </div>
        </div>
      </div>
    </div>
  </td> |
<%end%>
  <%= link_to 'Back', purchases_path, class: "btn btn-sm btn-primary" %>
</div>
