<div class="container"><p></p>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> Purchase details <h4></p>
      </ul>
  <div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search">
      <div class="input-group">
        <p>Purchase Id: <%= @purchase.id %></p>
        </div>
      </form>
    </div>
  </div>
</nav>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer name</th>
      <th>Product Model </th>
      <th>Price</th>
      <th>Purchase Date</th>
      <th>Maintenance Date</th>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
  <tr>
        <th><%= @purchase.id %></th>
        <td><%= @purchase.customer_name %></td>
        <td><%= @purchase.product_model %></td>
        <td><%= @purchase.price %></td>
        <td><%= @purchase.purchase_date %></td>
        <td><%= @purchase.maintnance_date %></td>
        <td><%= link_to 'Back', purchases_path, class: "btn btn-sm btn-primary" %></td>
  </tr>
 </tbody>
</table>
