<div class="container">
  <p></p>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> Customer details <h4></p>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <p>Customer name: <%= @customer.customer_name %></p>
        </div>
      </form>
    </div>
  </div>
</nav>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer name</th>
        <th>Username</th>
        <th>Registration date</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Gender</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
    <tr>
          <td><%= @customer.id %></td>
          <td><%= @customer.customer_name %></td>
          <td><%= @customer.username %></td>
          <td><%= @customer.registration_date %></td>
          <td><%= @customer.email %></td>
          <td><%= @customer.phone_number %></td>
          <td><%= @customer.address %></td>
          <td><%= @customer.gender %></td>
          <td><%= link_to 'Back', customers_path, class: "btn btn-sm btn-primary" %></td>
    </tr>
   </tbody>
 </table>



  <h3> List of purchases from this customer </h3>
  <%= form_for Purchase.new do |f| %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer name</th>
        <th>Product name</th>
        <th>Product model</th>
        <th>Price</th>
        <th>Purchase date</th>
        <th>Maintnance date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
      <% if purchase.customer_name == @customer.customer_name %>
        <tr>
          <td><%= purchase.id %></td>
          <td><%= purchase.customer_name %></td>
          <td><%= purchase.product_name %></td>
          <td><%= purchase.product_model %></td>
          <td><%= purchase.price %></td>
          <td><%= purchase.purchase_date %></td>
          <td><%= purchase.maintnance_date %></td>
          <% if can? :read, @purchases %>
            <td><%= link_to 'Show', purchase, class: "btn btn-sm btn-success" %></td>
          <%end%>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <%end%>
  <%= will_paginate @purchases, renderer: BootstrapPagination::Rails %>
</div>
