<%= form_for @product, remote: true, html: { style: "display:inline;" } do |f| %>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Product Name:</span>
    <%= f.text_field :product_name, class: "form-control" %>
  </div><br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Product Model:</span>
    <%= f.text_field :product_model, class: "form-control" %>
  </div><br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Serial Number:</span>
    <%= f.text_field :serial_number, class: "form-control" %>
  </div><br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Price: $</span>
    <%= f.number_field :price, class: "form-control" %>
  </div><br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Stock:</span>
    <%= f.number_field :stock, class: "form-control" %>
  </div><br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Product Description:</span>
    <%= f.text_area :description, class: "form-control" %>
  </div><br>
<div class="field">
<em>Click Choose File button to upload the image</em>
  <%= f.file_field :asset %><br>
  <% if f.object.asset_stored? %>
    <%= image_tag f.object.asset.thumb('250x250#').url, class: 'img-thumbnail' %><br>
    <em>Current Image</em>
  <%end%><br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>
<%end%>
