<br><br>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> Product details <h4></p>
      </ul>
  <div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search">
      <div class="input-group">
        <p>Product Id: <%= @product.id %></p>
      </div>
    </form>
    </div>
  </div>
</nav>

<div class='col-sm-6'>
  <p> <%= image_tag @product.asset.thumb('700x700').url, class: 'img-thumbnail' if @product.asset_stored? %> </P>
</div>
<div calss='row'>
  <div class='col-sm-5'>
    <p>
      <strong>Product name:</strong>
      <%= @product.product_name %>
    </p>
    <p>
      <strong>Product model:</strong>
      <%= @product.product_model %>
    </p>
    <p>
      <strong>Serial number:</strong>
      <%= @product.serial_number %>
    </p>
    <p>
      <strong>Price: $</strong>
      <%= @product.price %>
    </p>
    <p>
      <strong>Stock:</strong>
      <%= @product.stock %>
    </p>
    <p>
      <strong>Description:</strong></br>
      <%= @product.description %>
    </p><br>
    <p><%= link_to 'Back', products_path, class: "btn btn-sm btn-primary" %></p>
  </div>
</div>
